.whereis-codepoint {
	font-family: monospace;
	padding: 1px;
	text-align: left;
	width: 60px;
}
.whereis-charglyph {
	line-height: 1px;
	padding: 1px 1em 1px 1px;
	text-align: center;
	width: 50px;
}
.whereis-charname {
	padding: 1px;
	text-align: left;
}
.whereis-operator {
	font-family: monospace;
	padding: 1px 1em 1px 1px;
	text-align: left;
}
.whereis-oplabel {
	padding: 1px;
	text-align: left;
}